################################################################################
# .gitignore for Visual Studio project (prepared for QLCVan)
################################################################################

.vs/
.idea/
*.user
*.suo
bin/
obj/
