USE [master]
GO
/****** Object:  Database [QuanLyCongVan]    Script Date: 10/14/2025 7:31:11 AM ******/
CREATE DATABASE [QuanLyCongVan]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyCongVan].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyCongVan]
GO
/****** Object:  FullTextCatalog [FT_QLCV]    Script Date: 10/14/2025 7:31:11 AM ******/
CREATE FULLTEXT CATALOG [FT_QLCV] 
GO
/****** Object:  Table [dbo].[DanhBaEmail]    Script Date: 10/14/2025 7:31:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhBaEmail](
	[Email] [nvarchar](50) NOT NULL,
	[SoLanGui] [int] NULL,
	[MaPhongBan] [int] NOT NULL,
	[UserName] [nvarchar](50) NULL,
 CONSTRAINT [PK_DanhBaEmail_1] PRIMARY KEY CLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblChucVu]    Script Date: 10/14/2025 7:31:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblChucVu](
	[MaChucVu] [nvarchar](50) NOT NULL,
	[TenChucVu] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChucVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblChucVu_tblNhomQuyen]    Script Date: 10/14/2025 7:31:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblChucVu_tblNhomQuyen](
	[MaChucVu] [nvarchar](50) NOT NULL,
	[MaNhomQuyen] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChucVu] ASC,
	[MaNhomQuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblFileDinhKem]    Script Date: 10/14/2025 7:31:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblFileDinhKem](
	[FileID] [nvarchar](50) NOT NULL,
	[Url] [nvarchar](250) NULL,
	[Size] [int] NULL,
	[DateUpload] [nvarchar](100) NULL,
	[MaCV] [nvarchar](50) NULL,
	[TenFile] [nvarchar](255) NULL,
 CONSTRAINT [PK_tblFileDinhKem] PRIMARY KEY CLUSTERED 
(
	[FileID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblGuiNhan]    Script Date: 10/14/2025 7:31:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblGuiNhan](
	[MaCV] [nvarchar](50) NOT NULL,
	[MaNguoiDung] [int] NOT NULL,
 CONSTRAINT [PK_tblGuiNhan] PRIMARY KEY CLUSTERED 
(
	[MaCV] ASC,
	[MaNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblLoaiCV]    Script Date: 10/14/2025 7:31:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblLoaiCV](
	[MaLoaiCV] [int] IDENTITY(1,1) NOT NULL,
	[TenLoaiCV] [nvarchar](150) NULL,
	[PheDuyet] [nvarchar](1) NULL,
 CONSTRAINT [PK_tblLoaiCV] PRIMARY KEY CLUSTERED 
(
	[MaLoaiCV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblMenu]    Script Date: 10/14/2025 7:31:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblMenu](
	[MenuID] [int] IDENTITY(1,1) NOT NULL,
	[MenuName] [nvarchar](50) NULL,
	[MenuURL] [nvarchar](50) NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[MenuID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblNguoiDung]    Script Date: 10/14/2025 7:31:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblNguoiDung](
	[MaNguoiDung] [nvarchar](20) NOT NULL,
	[Email] [nvarchar](50) NULL,
	[TenDN] [nvarchar](50) NULL,
	[MatKhau] [nvarchar](50) NULL,
	[QuyenHan] [nchar](20) NULL,
	[TrangThai] [int] NULL,
	[HoTen] [nvarchar](100) NULL,
	[MaNhom] [int] NOT NULL,
	[MaChucVu] [nvarchar](50) NULL,
 CONSTRAINT [PK_tblNguoiDung] PRIMARY KEY CLUSTERED 
(
	[MaNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblNhom]    Script Date: 10/14/2025 7:31:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblNhom](
	[MaNhom] [int] IDENTITY(1,1) NOT NULL,
	[MoTa] [nvarchar](200) NULL,
 CONSTRAINT [PK_tblNhom] PRIMARY KEY CLUSTERED 
(
	[MaNhom] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblNhomNguoiDung]    Script Date: 10/14/2025 7:31:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblNhomNguoiDung](
	[MaNguoiDung] [nvarchar](20) NOT NULL,
	[MaNhom] [int] NOT NULL,
 CONSTRAINT [PK_tblNhomNguoiDung] PRIMARY KEY CLUSTERED 
(
	[MaNguoiDung] ASC,
	[MaNhom] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblNhomQuyen]    Script Date: 10/14/2025 7:31:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblNhomQuyen](
	[MaNhomQuyen] [nvarchar](50) NOT NULL,
	[TenNhomQuyen] [nvarchar](225) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNhomQuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblNhomQuyen_tblQuyen]    Script Date: 10/14/2025 7:31:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblNhomQuyen_tblQuyen](
	[MaNhomQuyen] [nvarchar](50) NOT NULL,
	[MaQuyen] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNhomQuyen] ASC,
	[MaQuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblNoiDungCV]    Script Date: 10/14/2025 7:31:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblNoiDungCV](
	[MaCV] [nvarchar](50) NOT NULL,
	[MaLoaiCV] [int] NULL,
	[TieuDeCV] [nvarchar](200) NULL,
	[NgayGui] [datetime] NULL,
	[SoCV] [nvarchar](200) NULL,
	[CoQuanBanHanh] [nvarchar](300) NULL,
	[NgayBanHanh] [datetime] NULL,
	[TrichYeuND] [nvarchar](500) NULL,
	[NguoiKy] [nvarchar](30) NULL,
	[NoiNhan] [nvarchar](255) NULL,
	[TuKhoa] [nvarchar](255) NULL,
	[TrangThai] [bit] NULL,
	[GuiHayNhan] [int] NULL,
	[GhiChu] [nvarchar](200) NULL,
	[BaoMat] [nvarchar](1) NULL,
 CONSTRAINT [PK_tblNoiDungCV] PRIMARY KEY CLUSTERED 
(
	[MaCV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblPhongBan]    Script Date: 10/14/2025 7:31:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPhongBan](
	[MaPhongBan] [int] NOT NULL,
	[TenPhongBan] [nvarchar](50) NULL,
 CONSTRAINT [PK_tblPhongBan] PRIMARY KEY CLUSTERED 
(
	[MaPhongBan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblQuyen]    Script Date: 10/14/2025 7:31:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblQuyen](
	[MaQuyen] [nvarchar](50) NOT NULL,
	[TenQuyen] [nvarchar](225) NULL,
	[MoTa] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaQuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblNoiDungCV] ADD  CONSTRAINT [DF_tblNoiDungCV_GuiHayNhan]  DEFAULT ((1)) FOR [GuiHayNhan]
GO
ALTER TABLE [dbo].[DanhBaEmail]  WITH CHECK ADD  CONSTRAINT [FK_DanhBaEmail_tblPhongBan] FOREIGN KEY([MaPhongBan])
REFERENCES [dbo].[tblPhongBan] ([MaPhongBan])
GO
ALTER TABLE [dbo].[DanhBaEmail] CHECK CONSTRAINT [FK_DanhBaEmail_tblPhongBan]
GO
ALTER TABLE [dbo].[tblChucVu_tblNhomQuyen]  WITH CHECK ADD FOREIGN KEY([MaChucVu])
REFERENCES [dbo].[tblChucVu] ([MaChucVu])
GO
ALTER TABLE [dbo].[tblChucVu_tblNhomQuyen]  WITH CHECK ADD FOREIGN KEY([MaNhomQuyen])
REFERENCES [dbo].[tblNhomQuyen] ([MaNhomQuyen])
GO
ALTER TABLE [dbo].[tblFileDinhKem]  WITH CHECK ADD  CONSTRAINT [FK_tblFileDinhKem_tblNoiDungCV] FOREIGN KEY([MaCV])
REFERENCES [dbo].[tblNoiDungCV] ([MaCV])
GO
ALTER TABLE [dbo].[tblFileDinhKem] CHECK CONSTRAINT [FK_tblFileDinhKem_tblNoiDungCV]
GO
ALTER TABLE [dbo].[tblGuiNhan]  WITH CHECK ADD  CONSTRAINT [FK_tblGuiNhan_tblNoiDungCV] FOREIGN KEY([MaCV])
REFERENCES [dbo].[tblNoiDungCV] ([MaCV])
GO
ALTER TABLE [dbo].[tblGuiNhan] CHECK CONSTRAINT [FK_tblGuiNhan_tblNoiDungCV]
GO
ALTER TABLE [dbo].[tblNguoiDung]  WITH CHECK ADD  CONSTRAINT [FK_NguoiDung_ChucVu] FOREIGN KEY([MaChucVu])
REFERENCES [dbo].[tblChucVu] ([MaChucVu])
GO
ALTER TABLE [dbo].[tblNguoiDung] CHECK CONSTRAINT [FK_NguoiDung_ChucVu]
GO
ALTER TABLE [dbo].[tblNhomNguoiDung]  WITH CHECK ADD  CONSTRAINT [FK_tblNhomNguoiDung_tblNguoiDung] FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[tblNguoiDung] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[tblNhomNguoiDung] CHECK CONSTRAINT [FK_tblNhomNguoiDung_tblNguoiDung]
GO
ALTER TABLE [dbo].[tblNhomNguoiDung]  WITH CHECK ADD  CONSTRAINT [FK_tblNhomNguoiDung_tblNhom] FOREIGN KEY([MaNhom])
REFERENCES [dbo].[tblNhom] ([MaNhom])
GO
ALTER TABLE [dbo].[tblNhomNguoiDung] CHECK CONSTRAINT [FK_tblNhomNguoiDung_tblNhom]
GO
ALTER TABLE [dbo].[tblNhomQuyen_tblQuyen]  WITH CHECK ADD FOREIGN KEY([MaNhomQuyen])
REFERENCES [dbo].[tblNhomQuyen] ([MaNhomQuyen])
GO
ALTER TABLE [dbo].[tblNhomQuyen_tblQuyen]  WITH CHECK ADD FOREIGN KEY([MaQuyen])
REFERENCES [dbo].[tblQuyen] ([MaQuyen])
GO
/****** Object:  StoredProcedure [dbo].[NoiDungCVSelect]    Script Date: 10/14/2025 7:31:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[NoiDungCVSelect] 	
	@searchInfo nvarchar(200)
	
AS
BEGIN	
	SET NOCOUNT ON;
with tmp as(
    select * from dbo.tblNoiDungCV
   where Freetext(TieuDeCV, @searchInfo) or Freetext(TrichYeuND, @searchInfo)
			or Freetext(SoCV, @searchInfo))
   select * from tmp
   
END

GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0=gui, 1=nhan' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblNoiDungCV', @level2type=N'COLUMN',@level2name=N'GuiHayNhan'
GO
USE [master]
GO
